<div class=login-page>
    <div class=img-container>
        <div class="text-center pull-right photo">
            <img src=images/flat-avatar.png class="user-avatar img-circle img-responsive">
        </div>
    </div>
    <div class=form-content>
        <div class="container">
            <h1>ADD CLIENT</h1>
            <span></span>
            <form role=form class=bottom-75 ng-submit=submit()>
                <div class=container>
                    <div class=form-groups>
                        <div class=form-group>
                            <label for="client-name"><b>Client Name</b></label>
                            <input type=text class="form-control input-lg" name="client-name" placeholder="My Client">
                        </div>
                        <div class=form-group>
                            <label for="email"><b>Email</b></label>
                            <input type=text class="form-control input-lg" name="email" placeholder=someone@example.com>
                        </div>
                        <div class=form-group>
                            <label for="cnp"><b>CNP</b></label>
                            <input type=text class="form-control input-lg" name="cnp" placeholder="CNP">
                        </div>
                        <div class=form-group>
                            <label for="address"><b>Address</b></label>
                            <input type=text class="form-control input-lg" placeholder="Address" name="address">
                        </div>
                        <div class=button-container>
                            <p> <a ui-sref="clients" class="btn btn-primary btn-lg btn-white">Add Client</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


