<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false" class="bg-dark">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>

		<div class="fr">
			<h2>Clients</h2>
		</div>
		<span class="glyphicon glyphicon-dashboard bg-fade"></span>
		<div class="jumbotron">
			<div class="container">
				<h1>See your clients here</h1>
					<p ng-repeat="client in clients">{{::client.name}}</p>
				<p>
					<a ui-sref="addClient" class="btn btn-primary btn-lg btn-white">Add Client</a>
					<a ui-sref="overview" class="btn btn-primary btn-lg btn-white">Back to Overview</a>
				</p>
			</div>

			<table ng-table="vm.tableParams" class="table" show-filter="true">
				<tr ng-repeat="user in $data">
					<td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
						{{user.name}}</td>
					<td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
						{{user.age}}</td>
				</tr>
			</table>
		</div>
	</snap-content>
</div>